/* Переопределяем стили для таблиц с ID workTable и materialTable */
#workTable.table-striped tbody tr:nth-of-type(odd),
#materialTable.table-striped tbody tr:nth-of-type(odd) {
    background-color: transparent !important; /* Убираем серо-голубой цвет */
}

/* Устанавливаем фиксированную ширину для таблиц */
#workTable,
#materialTable {
    width: 600px;
}

/* Настраиваем ширину колонок */
#workTable th,
#workTable td,
#materialTable th,
#materialTable td {
    width: auto; /* Ширина колонок будет распределяться автоматически */
}

#workTable th:nth-child(1),
#materialTable th:nth-child(1) {
    width: 50%;
}

#materialTable th:nth-child(2),
#materialTable th:nth-child(3) {
    width: 25%;
}

input.form-control {
    width: 100%; /* Ширина input элементов */
}



/* кнопка поиска на странице "Журнал" */
.narrow-button {
    max-width: 250px; /* Пример фиксированной максимальной ширины */
    white-space: nowrap; /* Предотвращает перенос текста на новую строку */
    font-size: 16px; /* Устанавливает размер шрифта для кнопки */
  }

.narrow-search {
    max-width: 400px; /* Устанавливаем максимальную ширину поля для поиска */
  }

 /* Пример стиля для увеличения размера шрифта */
.form-field {
     font-size: 20px !important; /* Установите желаемый размер шрифта */
        }

html, body {
	font-family: 'Arial';
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}


a {
	color: #0059b2;
	text-decoration: none;
}
a:hover {
	color: #CC0000;
	text-decoration: underline;
}

.clear {clear: both;}

div.content {
	margin: 10px;
}

.form-contact label {
	display: inline-block;
	min-width: 80px;
}
.form-contact p {margin: 10px 0 10px 0;}
.form-contact input[type=submit], textarea {
	font-size: 16px;
}

.flash {padding: 10px;}
.flash.success {
	border: 1px solid #21DB56;
	background: #AEFFC5;
}
.flash.error {
	border: 1px solid #FF4343;
	background: #FF9C9C;
}

/* контейнер для 3 кнопок (добавить строку, сохранить, вернуться..) */
.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.btn {
    margin-bottom: 10px;
}

/* Стили для уменьшения размера строки поиска и кнопки */
.narrow-search {
    height: 35px; /* Уменьшение высоты поля ввода */
    font-size: 14px; /* Уменьшение размера шрифта */
    padding: 5px 10px; /* Уменьшение внутреннего отступа */
}

.narrow-button {
    height: 35px; /* Уменьшение высоты кнопки */
    font-size: 14px; /* Уменьшение размера шрифта */
    padding: 5px 10px; /* Уменьшение внутреннего отступа */
    line-height: 1.5; /* Регулировка высоты строки текста */
}


.f-control {
  /* Здесь добавьте стили для вашего поля */
  resize: vertical;
  min-height: 100px;
  border: 1px solid #888888; /* Стандартная граница Bootstrap */
  border-radius: 4px; /* Стандартный радиус скругления Bootstrap */
  padding: 0.375rem 0.75rem; /* Стандартное отступы Bootstrap */
  font-size: 1rem; /* Стандартный размер шрифта Bootstrap */
  line-height: 1.5; /* Стандартный межстрочный интервал Bootstrap */
  background-color: #fff; /* Стандартный цвет фона Bootstrap */
  color: #333333; /* Стандартный цвет текста Bootstrap */
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; /* Стандартные переходы Bootstrap */
}


