{% extends 'base.html' %}

{% block content %}

<h2>Составить акт выполненных работ</h2>
<div style="margin-bottom: 20px;"></div>
<!-- Пространство -->
<div class="table-responsive">
    <!-- адаптивность для таблицы, не будет выходить за пределы контейнера -->
    <form id="actForm" action="/save_new_act/{{ entry_data.id }}" method="post" class="form-contact" onsubmit="return validateForm()">
        <table id="myTable" class="table table-striped max-width: 100%">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Дата заказа</th>
                    <th scope="col">ФИО клиента</th>
                    <th scope="col">Марка авто</th>
                    <th scope="col">Год выпуска</th>
                    <th scope="col">Номер авто</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row"></th>
                    <td>{{ entry_data.date_order }}</td>
                    <td>{{ entry_data.name_customer }}</td>
                    <td>{{ entry_data.brand_car }}</td>
                    <td>{{ entry_data.year_car }}</td>
                    <td>{{ entry_data.number_car }}</td>
                </tr>
            </tbody>
        </table>


<h3>Добавить новые данные</h3>

        <table id="actTable" class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Номер акта</th>
                <th scope="col">Дата акта</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="number" name="id_act[]" class="form-control" style="width: 100px;" ></td>
                <td><input type="text" name="date_act[]" class="form-control"></td>
            </tr>
        </tbody>
    </table>

    <table id="workTable" class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Наименование работ</th>
            <th scope="col">Стоимость работ(без запятой)</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input type="text" name="name_work[]" class="form-control" style="width: 300px;"></td>
            <td><input type="number" name="price_work[]" class="form-control"></td>
            <td><button type="button" class="btn btn-outline-primary" onclick="addWorkRow()">+</button></td>
        </tr>
    </tbody>
</table>

<table id="materialTable" class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Наименование материалов</th>
            <th scope="col">Цена за ед.(без запятой)</th>
            <th scope="col">Количество</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input type="text" name="name[]" class="form-control" style="width: 300px;"></td>
            <td><input type="number" name="price_unit[]" class="form-control"></td>
            <td><input type="number" name="quantity[]" class="form-control" style="width: 100px;"></td>
            <td><button type="button" class="btn btn-outline-primary" onclick="addMaterialRow()">+</button></td>
        </tr>
    </tbody>
</table>

    <div class="container">
            <button type="button" class="btn btn-outline-primary" onclick="addRow()">Добавить строку</button>
            <button type="submit" class="btn btn-outline-primary">Сохранить</button>
            <button type="button" class="btn btn-outline-success return-button" onclick="window.location.href = '/zhurnal'">Вернуться "Журнал"</button>
    </div>

</form>
</div>

<!-- Modal -->
<div class="modal fade" id="validationModal" tabindex="-1" aria-labelledby="validationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="validationModalLabel">Ошибка валидации</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Пожалуйста, поставьте 0 в полях "Цена за ед." и "Количество", если материалы отсутствуют.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

<script>

function addRow() {
    var actTable = document.getElementById("actTable").getElementsByTagName('tbody')[0];

    var actRow = actTable.insertRow();

    var actColumns = [
        { name: 'id_act[]', type: 'number' },
        { name: 'date_act[]', type: 'text' }
    ];

    for (var i = 0; i < actColumns.length; i++) {
        var newCell = actRow.insertCell(i);
        var input = document.createElement("input");
        input.type = actColumns[i].type;
        input.name = actColumns[i].name;
        input.className = "form-control";
        newCell.appendChild(input);
    }
}

function addWorkRow() {
    var workTable = document.getElementById("workTable").getElementsByTagName('tbody')[0];
    var workRow = workTable.insertRow();

    var workColumns = [
        { name: 'name_work[]', type: 'text' },
        { name: 'price_work[]', type: 'number' }
    ];

    for (var i = 0; i < workColumns.length; i++) {
        var newCell = workRow.insertCell(i);
        var input = document.createElement("input");
        input.type = workColumns[i].type;
        input.name = workColumns[i].name;
        input.className = "form-control";
        newCell.appendChild(input);
    }

    var buttonCell = workRow.insertCell(workColumns.length);
    var deleteButton = document.createElement("button");
    deleteButton.type = "button";
    deleteButton.className = "btn btn-outline-danger";
    deleteButton.textContent = "-";
    deleteButton.onclick = function() {
        workTable.deleteRow(workRow.rowIndex);
    };
    buttonCell.appendChild(deleteButton);
}

function addMaterialRow() {
    var materialTable = document.getElementById("materialTable").getElementsByTagName('tbody')[0];
    var materialRow = materialTable.insertRow();

    var materialColumns = [
        { name: 'name[]', type: 'text' },
        { name: 'price_unit[]', type: 'number' },
        { name: 'quantity[]', type: 'number' }
    ];

    for (var i = 0; i < materialColumns.length; i++) {
        var newCell = materialRow.insertCell(i);
        var input = document.createElement("input");
        input.type = materialColumns[i].type;
        input.name = materialColumns[i].name;
        input.className = "form-control";
        newCell.appendChild(input);
    }

    var buttonCell = materialRow.insertCell(materialColumns.length);
    var deleteButton = document.createElement("button");
    deleteButton.type = "button";
    deleteButton.className = "btn btn-outline-danger";
    deleteButton.textContent = "-";
    deleteButton.onclick = function() {
        materialTable.deleteRow(materialRow.rowIndex);
    };
    buttonCell.appendChild(deleteButton);
}

function validateForm() {
    var form = document.getElementById('actForm');
    var priceUnits = form.querySelectorAll('input[name="price_unit[]"]');
    var quantities = form.querySelectorAll('input[name="quantity[]"]');
    var hasEmptyFields = false;

    for (var i = 0; i < priceUnits.length; i++) {
        if (priceUnits[i].value.trim() === "" || quantities[i].value.trim() === "") {
            hasEmptyFields = true;
            break;
        }
    }

    if (hasEmptyFields) {
        var validationModal = new bootstrap.Modal(document.getElementById('validationModal'));
        validationModal.show();
        return false;
    }
    return true;
}
</script>

{% endblock %}