{% extends 'base.html' %}

{% block content %}

<h2>Добавление данных о сотруднике</h2>
<div style="margin-bottom: 20px;"></div>

{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}
<form action="{{url_for('addEmployees')}}" method="post" class="form-contact">
<p><label>ФИО сотрудника: </label> <input type="text" name="name" value="" required />
<p><label>Должность: </label> <input type="text" name="profession" value="" required />

<div class="container">
    <button type="submit" class="btn btn-outline-primary">Сохранить</button>
    <button type="button" class="btn btn-outline-success return-button" onclick="window.location.href = '/employees'">Вернуться к "Список сотрудников"</button>
</div>

</form>

{% endblock %}
