{% extends 'base.html' %}

{% block content %}

<h2>Редактирование акта выполненных работ № {{ entry_data.main.id_act }}<span style="font-family: 'Arial', sans-serif; font-size: 27px;">
    от {{ entry_data.main.date_act }}</span></h2>

<div style="margin-bottom: 20px;"></div>

<form action="/save_edit_final_act/{{ entry_data.main.id_act }}" method="post">

    <input type="hidden" name="entry_id" value="{{ entry_data.main.id_act }}">
    <input type="hidden" name="date_act" value="{{ entry_data.main.date_act }}">

    <div class="table-responsive">
        <table id="myTable" class="table table-striped" style="max-width: 100%;">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">ФИО клиента</th>
                    <th scope="col">Марка авто</th>
                    <th scope="col">Год выпуска</th>
                    <th scope="col">Номер авто</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row"></th>
                    <td>{{ entry_data.main.name_customer }}</td>
                    <td>{{ entry_data.main.brand_car }}</td>
                    <td>{{ entry_data.main.year_car }}</td>
                    <td>{{ entry_data.main.number_car }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <h4>Выполненные работы:</h4>

    <div class="table-responsive">
        <table id="workTable" class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Наименование работ</th>
                    <th scope="col">Стоимость работ (руб)</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for work in entry_data.works %}
                <tr>
                    <td><input type="text" name="name_work[]" class="form-control" value="{{ work.name_work }}" ></td>
                    <td><input type="number" name="price_work[]" class="form-control" value="{{ work.price_work }}"></td>
                    <td><button type="button" class="btn btn-outline-danger btn-sm" onclick="deleteWorkRow(this)">Удалить</button></td>
                </tr>
                {% endfor %}

            </tbody>
        </table>

        <button type="button" class="btn btn-outline-primary btn-sm" onclick="addWorkRow()">Добавить строку</button>
    </div>

    <h4>Использованные материалы:</h4>

    <div class="table-responsive">
        <table id="materialTable" class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Наименование материалов</th>
                    <th scope="col">Цена за ед (коп)</th>
                    <th scope="col">Количество</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for material in entry_data.materials %}
                <tr>
                    <td><input type="text" name="name[]" class="form-control" value="{{ material.name }}"></td>
                    <td><input type="number" name="price_unit[]" class="form-control" value="{{ material.price_unit }}"></td>
                    <td><input type="number" name="quantity[]" class="form-control" value="{{ material.quantity }}"></td>
                    <td><button type="button" class="btn btn-outline-danger btn-sm" onclick="deleteRow(this)">Удалить</button></td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
        <button type="button" class="btn btn-outline-primary btn-sm" onclick="addMaterialRow()">Добавить строку</button>
    </div>

    <div class="container">
        <button type="submit" class="btn btn-outline-primary">Сохранить все изменения</button>

    </div>
</form>

<script>
     // "Добавить строку" и "Удалить" в "работа"
    function addWorkRow() {
    var workTable = document.getElementById("workTable").getElementsByTagName('tbody')[0];
    var workRow = workTable.insertRow();

    var workColumns = [
        { name: 'name_work[]', type: 'text' },
        { name: 'price_work[]', type: 'number' }
    ];

    for (var i = 0; i < workColumns.length; i++) {
        var newCell = workRow.insertCell(i);
        var input = document.createElement("input");
        input.type = workColumns[i].type;
        input.name = workColumns[i].name;
        input.className = "form-control";
        newCell.appendChild(input);
    }

    var buttonCell = workRow.insertCell(workColumns.length);
    var deleteButton = document.createElement("button");
    deleteButton.type = "button";
    deleteButton.className = "btn btn-outline-danger btn-sm";
    deleteButton.textContent = "Удалить";
    deleteButton.onclick = function() {
        deleteWorkRow(workRow); // Передаем workRow в функцию deleteWorkRow
    };
    buttonCell.appendChild(deleteButton);
}

    // Функция для удаления строки
    function deleteWorkRow(button) {
        const row = button.closest("tr");
        row.remove();
}

    // "Добавить строку" и "Удалить" в "материалы"
    function addMaterialRow() {
        var materialTable = document.getElementById("materialTable").getElementsByTagName('tbody')[0];
        var materialRow = materialTable.insertRow();

        var materialColumns = [
            { name: 'name[]', type: 'text' },
            { name: 'price_unit[]', type: 'number' },
            { name: 'quantity[]', type: 'number' }
        ];

        for (var i = 0; i < materialColumns.length; i++) {
            var newCell = materialRow.insertCell(i);
            var input = document.createElement("input");
            input.type = materialColumns[i].type;
            input.name = materialColumns[i].name;
            input.className = "form-control";
            newCell.appendChild(input);
        }

        var buttonCell = materialRow.insertCell(materialColumns.length);
        var deleteButton = document.createElement("button");
        deleteButton.type = "button";
        deleteButton.className = "btn btn-outline-danger btn-sm";
        deleteButton.textContent = "Удалить";
        deleteButton.onclick = function() {
            deleteRow(materialRow); // Передаем materialRow в функцию deleteRow
        };
        buttonCell.appendChild(deleteButton);
    }

    // Функция для удаления строки
    function deleteRow(button) {
        const row = button.closest("tr");
        row.remove();
    }

</script>

{% endblock %}
