{% extends 'base.html' %}

{% block content %}

<h2>Акт выполненных работ  № {{ entry_data.main.id_act }}<span style="font-family: 'Arial', sans-serif; font-size: 27px;">
    от {{ entry_data.main.date_act }}</span></h2>

<div style="margin-bottom: 20px;"></div>
<!-- Пространство -->
<div class="table-responsive">
    <!-- адаптивность для таблицы, не будет выходить за пределы контейнера -->
    <table id="myTable" class="table table-striped" style="max-width: 100%;">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">ФИО клиента</th>
                <th scope="col">Марка авто</th>
                <th scope="col">Год выпуска</th>
                <th scope="col">Номер авто</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row"></th>
                <td>{{ entry_data.main.name_customer }}</td>
                <td>{{ entry_data.main.brand_car }}</td>
                <td>{{ entry_data.main.year_car }}</td>
                <td>{{ entry_data.main.number_car }}</td>
            </tr>
        </tbody>
    </table>
</div>

<h4>Выполненные работы:</h4>

<div class="table-responsive">
    <table id="workTable" class="table table-striped">
        <thead>
            <tr>
                <th scope="col" >Наименование работ</th>
                <th scope="col" >Стоимость работ (руб)</th>
            </tr>
        </thead>
        <tbody>
            {% for work in entry_data.works %}
            <tr>
                <td><input type="text" name="name_work[]" class="form-control" value="{{ work.name_work }}"  readonly></td>
                <td><input type="number" name="price_work[]" class="form-control" value="{{ ('%.2f' % (work.price_work / 100) ) | replace('.', ',') }}" readonly></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="totals">
    <p>Общая стоимость работ: {{ ('%.2f' % (entry_data.main.total_work / 100) ) | replace('.', ',') }} руб.</p>
</div>

<h4>Использованные материалы:</h4>

<div class="table-responsive">
    <table id="materialTable" class="table table-striped">
        <thead>
            <tr>
                <th scope="col" >Наименование материалов</th>
                <th scope="col" >Цена за ед (руб)</th>
                <th scope="col" >Количество</th>
            </tr>
        </thead>

        <tbody>
            {% for material in entry_data.materials %}
            <tr>
                <td><input type="text" name="name[]" class="form-control" value="{{ material.name }}"  readonly></td>
                <td><input type="number" name="price_unit[]" class="form-control" value="{{ ('%.2f' % (material.price_unit / 100) ) | replace('.', ',') }}" readonly></td>
                <td><input type="number" name="quantity[]" class="form-control" value="{{ material.quantity }}"  readonly></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="totals">
    <p>Общая стоимость материалов: {{ ('%.2f' % (entry_data.main.total_materials / 100) ) | replace('.', ',') }} руб.</p>
    <h4>Итоговая стоимость: {{ ('%.2f' % (entry_data.main.total_price / 100) ) | replace('.', ',') }} руб.</h4>
</div>

<div class="container">
        <button type="button" class="btn btn-outline-success return-button" onclick="window.location.href = '/edit_final_act/{{ entry_data.main.id_act }}'">Редактировать</button>
        <button type="button" class="btn btn-outline-success return-button" onclick="window.location.href = '/list_act'">Вернуться "Реестр"</button>
</div>

{% endblock %}

