{% extends 'base.html' %}

{% block content %}

<nav class="nav flex-column">

  <div class="breadcrumb-item" style="font-size: 1.2em;">Заказы</div>
  <a class="nav-link active" style="font-size: 1.2em;" href="/zhurnal">Журнал заказов</a>
  <a class="nav-link" style="font-size: 1.2em;" href="/add_customer">Добавить данные в журнал</a>
  <a class="nav-link active" style="font-size: 1.2em;" href= "#"></a>

  <div class="breadcrumb-item" style="font-size: 1.2em;">Акт выполненных работ</div>
  <a class="nav-link active" style="font-size: 1.2em;" href="/list_act">Реестр актов выполненных работ</a>
  <a class="nav-link active" style="font-size: 1.2em;" href="#"></a>

  <div class="breadcrumb-item" style="font-size: 1.2em;">Материалы</div>
  <a class="nav-link active" style="font-size: 1.2em;" href="/stock">Склад</a>
  <a class="nav-link active" style="font-size: 1.2em;" href="/add_stock">Добавить материалы на склад</a>
  <a class="nav-link active" style="font-size: 1.2em;" href= "#"></a>

  <div class="breadcrumb-item" style="font-size: 1.2em;">Сотрудники</div>
  <a class="nav-link active" style="font-size: 1.2em;" href="/employees">Список сотрудников</a>
  <a class="nav-link active" style="font-size: 1.2em;" href="/add_employees">Добавить сотрудника в список</a>
  <a class="nav-link active" style="font-size: 1.2em;" href= "#"></a>

  <div class="breadcrumb-item" style="font-size: 1.2em;">Разное</div>
  <a class="nav-link active" style="font-size: 1.2em;" href="/requisites">Реквизиты</a>
  <a class="nav-link active" style="font-size: 1.2em;" href= "#"></a>

</nav>

{% endblock %}
