{% extends 'base.html' %}

{% block content %}

<h2>Реестр актов выполненных работ</h2>

<div style="margin-bottom: 20px;"></div> <!-- Пространство -->

<!-- Форма поиска -->
<form class="d-flex" role="search" action="/" method="get">
  <input class="form-control me-2 narrow-search" type="search" id="searchInput" placeholder="Поиск" aria-label="Search">
  <button class="btn btn-outline-success narrow-button" type="button" id="resetButton">Вернуться к реестру</button>
</form>

<div style="margin-bottom: 20px;"></div> <!-- Пространство -->

<div class="table-responsive">  <!-- адаптивность для таблицы, не будет выходить за пределы контейнера -->
<table id="myTable" class="table table-striped max-width: 100%">

  <thead>
    <tr>
      <th scope="col" style="width: 50px;">Номер акта</th>
      <th scope="col">Дата акта</th>
      <th scope="col" style="width: 200px;">ФИО клиента</th>
      <th scope="col" style="width: 200px;">Марка авто</th>
      <th scope="col" style="width: 50px;">Год выпуска</th>
      <th scope="col">Номер авто</th>
      <th scope="col" style="width: 50px;">Стоимость работ</th>
      <th scope="col" style="width: 50px;">Стоимость материалов</th>
      <th scope="col" style="width: 50px;">Итоговая стоимость</th>

    </tr>
  </thead>
  <tbody>
    {% for row in list_act %}
    <tr>
        <td>{{ row.id_act }}</td>
        <td>{{ row.date_act }}</td>
        <td>{{ row.name_customer }}</td>
        <td>{{ row.brand_car }}</td>
        <td>{{ row.year_car }}</td>
        <td>{{ row.number_car }}</td>
        <td>{{ row.total_work }}</td>
        <td>{{ row.total_materials }}</td>
        <td>{{ row.total_price }}</td>
        <td>
            <a href="/final_act/{{ row.id_act }}" class="btn btn-outline-primary btn-sm">Открыть акт</a>
        </td>
    </tr>
    {% endfor %}

  </tbody>
</table>
</div>


<div class="pagination">   <!-- кнопки для пагинации -->
  <button class="btn btn-outline-primary prev-page"></button>
  <button class="btn btn-outline-primary next-page"></button>
</div>

<!-- JavaScript-код для обработки поиска -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function() {
    // Событие для фильтрации таблицы при вводе текста
    $("#searchInput").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      filterTable(value);
    });

    // Функция фильтрации таблицы
    function filterTable(value) {
      $("#myTable tbody tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    }

    // Сброс фильтрации и поля поиска
    $("#resetButton").on("click", function() {
      $("#searchInput").val('');
      filterTable('');
    });
  });
</script>

<!-- JavaScript-код для пагинации -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function() {
    var currentPage = 1;
    var rowsPerPage = 10; // Количество строк на одной странице

    // Показать нужные строки при загрузке страницы
    showRows(currentPage, rowsPerPage);
    updatePagination(); // Обновляем пагинацию при загрузке страницы

    // Обработчик нажатия кнопки "Previous"
    $(".prev-page").click(function() {
      if (currentPage > 1) {
        currentPage--;
        showRows(currentPage, rowsPerPage);
        updatePagination(); // Обновляем пагинацию при переходе на предыдущую страницу
      }
    });

    // Обработчик нажатия кнопки "Next"
    $(".next-page").click(function() {
      // Предполагая, что у вас есть функция, которая возвращает общее количество строк в вашей таблице
      if ((currentPage * rowsPerPage) < getTotalRowsCount()) {
        currentPage++;
        showRows(currentPage, rowsPerPage);
        updatePagination(); // Обновляем пагинацию при переходе на следующую страницу
      }
    });

    // Функция для обновления текста кнопок пагинации с номером текущей страницы
    function updatePagination() {
      $(".prev-page").text("  " + currentPage);
      $(".next-page").text("  " + (currentPage + 1));
    }

    // Функция для отображения нужных строк таблицы
    function showRows(pageNumber, rowsPerPage) {
      var startIndex = (pageNumber - 1) * rowsPerPage;
      var endIndex = startIndex + rowsPerPage;

      // Скрыть все строки таблицы
      $("#myTable tbody tr").hide();

      // Показать только нужные строки для текущей страницы
      $("#myTable tbody tr").slice(startIndex, endIndex).show();
    }

    // Функция, которая возвращает общее количество строк в вашей таблице
    function getTotalRowsCount() {
      return $("#myTable tbody tr").length;
    }
  });
</script>

{% endblock %}
