{% extends 'base.html' %}

{% block content %}


<div class="header-container">
  <h2>Журнал заказов</h2>
  <!-- Форма поиска -->
  <form class="d-flex search-form" role="search">
    <input class="form-control me-2 narrow-search" type="search" id="searchInput" placeholder="Поиск" aria-label="Search">
    <button class="btn btn-outline-success narrow-button" type="submit">Вернуться "Склад"</button>
  </form>
</div>

<div class="table-responsive">  <!-- адаптивность для таблицы, не будет выходить за пределы контейнера -->
<table id="myTable" class="table table-striped">

  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col" style="width: 50px;">Дата заказа</th>
      <th scope="col" style="width: 150px;">ФИО клиента</th>
      <th scope="col" style="width: 150px;">Марка авто</th>
      <th scope="col" style="width: 50px;">Год выпуска</th>
      <th scope="col" style="width: 100px;">Номер авто</th>
      <th scope="col" style="width: 250px;">Причина обращения</th>
      <th scope="col" style="width: 50px;">Номер акта</th>
    </tr>
  </thead>
  <tbody>
    {% for row in log %}
    <tr>
      <th scope="row">{{ loop.index }}</th> <!-- Используем loop.index для нумерации строк -->
      <td>{{ row.date_order }}</td>
      <td>{{ row.name_customer }}</td>
      <td>{{ row.brand_car }}</td>
      <td>{{ row.year_car }}</td>
      <td>{{ row.number_car }}</td>
      <td>{{ row.text_order|truncate(30) }}</td>
      <td>{{ row.id_act|default('', true) }}</td>   <!-- замена на пусто, если none -->
      <td>
            <a href="/edit_entry_act/{{ row.id }}" class="btn btn-outline-primary btn-sm">Акт сост/откр</a>
      </td>
      <td>
          <a href="/edit_entry/{{ row.id }}" class="btn btn-outline-primary btn-sm">Изменить</a>
      </td>

      <td>
        <!-- форма кнопки "Удалить", она отправляет POST-запрос на сервер с идентификатором записи, которую нужно удалить.-->
        <form action="/delete_entry/{{ row.id }}" method="post">
            <button type="submit" class="btn btn-outline-danger btn-sm">Удалить</button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>

{% if pagination.total_items > pagination.per_page %}
<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center">
    {% if pagination.page > 1 %}
      <li class="page-item"><a class="page-link" href="{{ url_for('showZhurnal', page=pagination.page-1) }}">&laquo; Назад</a></li>
    {% else %}
      <li class="page-item disabled"><span class="page-link">&laquo; Назад</span></li>
    {% endif %}

    {% for page_num in range(1, pagination.total_pages+1) %}
      {% if page_num == pagination.page %}
        <li class="page-item active"><span class="page-link">{{ page_num }}</span></li>
      {% else %}
        <li class="page-item"><a class="page-link" href="{{ url_for('showZhurnal', page=page_num) }}">{{ page_num }}</a></li>
      {% endif %}
    {% endfor %}

    {% if pagination.page < pagination.total_pages %}
      <li class="page-item"><a class="page-link" href="{{ url_for('showZhurnal', page=pagination.page+1) }}">Вперед &raquo;</a></li>
    {% else %}
      <li class="page-item disabled"><span class="page-link">Вперед &raquo;</span></li>
    {% endif %}
  </ul>
</nav>
{% endif %}


<!-- Модальное окно -->
<div class="modal fade" id="responseModal" tabindex="-1" aria-labelledby="responseModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="responseModalLabel">Результат операции</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="responseMessage">
                <!-- Сообщение будет вставлено сюда через JavaScript -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

<script>
  // Ждем полной загрузки страницы
document.addEventListener('DOMContentLoaded', function() {
    console.log("Document is ready");

    // Инициализация Bootstrap Dropdown для всех элементов на странице при загрузке
    initializeBootstrapDropdowns();

    // Обработчик клика по кнопке создания акта
    $('.create-act-button').click(function(event) {
      event.preventDefault(); // Предотвращаем стандартное поведение кнопки
      var entryId = $(this).data('entry-id');
      if (!entryId) {
        console.error("Entry ID is missing for this button");
        return;
      }

      console.log("Clicked create act button for entry_id:", entryId);

      fetch('/edit_entry_act/' + entryId)
        .then(response => {
          if (response.redirected) {
            console.log("Redirected to:", response.url);
            window.location.href = response.url;
          } else {
            response.text().then(html => {
              console.log("Received HTML response");
              document.open();
              document.write(html);
              document.close();

              // Переинициализация Bootstrap JavaScript
              initializeBootstrapDropdowns();
            });
          }
        })
        .catch(error => console.error('Ошибка:', error));
    });

    // Обработчик поиска
    $("#searchInput").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#myTable tbody tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });

    // Получаем параметры из URL и показываем модальное окно, если есть сообщение
    const urlParams = new URLSearchParams(window.location.search);
    const status = urlParams.get('status');
    const message = urlParams.get('message');

    if (status && message) {
      console.log("Status:", status, "Message:", message);
      $('#responseMessage').text(message);
      var responseModal = new bootstrap.Modal(document.getElementById('responseModal'));
      responseModal.show();

      //После показа модального окна, если параметры status и message присутствуют, мы очищаем URL, удаляя эти параметры.
      // Это делается с помощью window.history.replaceState(), что позволяет изменить URL без перезагрузки страницы.
      if (window.history.replaceState) {
        const cleanUrl = window.location.origin + window.location.pathname;
        window.history.replaceState({ path: cleanUrl }, '', cleanUrl);
      }
    }
  });

  function initializeBootstrapDropdowns() {
    var dropdownElementList = [].slice.call(document.querySelectorAll('.dropdown-toggle'));
    var dropdownList = dropdownElementList.map(function (dropdownToggleEl) {
      return new bootstrap.Dropdown(dropdownToggleEl);
    });
  }
</script>

{% endblock %}